<!DOCTYPE html>
<html ng-app="myApp">

<head>
  <script data-require="angular.js@*" data-semver="1.3.0-beta.5" src="https://code.angularjs.org/1.3.0-beta.5/angular.js"></script>
  <script  src="../../js/dygraphs-directive.js"></script>
  <script src="http://dygraphs.com/1.0.1/dygraph-combined.js"></script>
  <script src="script.js"></script>
</head>

<body ng-controller="MyCtrl">
  {{graph.meta.from|date}} -
  {{graph.meta.to|date}}
  <dygraphs zoom="zoom" meta="graph.meta" data="graph.data" opts="graph.opts" tyle="width:400px;height:300px;border:1px solid red;display:block"></dygraphs>
  <div ng-repeat="data in graph.data">
    <input placeholder="date" ng-model="data[0]" type="date" />
    <input placeholder="val1" ng-model="data[1]" type="number"/>
    <input placeholder="val2" ng-model="data[2]" />


  </div>
  <pre>{{graph|json}}</pre>

</body>

</html>
